@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import '@ag-grid-community/styles/ag-grid.css';
@import '@ag-grid-community/styles/ag-theme-alpine.css';
@import '@adaptabletools/adaptable-react-aggrid/base.css';
@import '@adaptabletools/adaptable-react-aggrid/themes/light.css';
@import '@adaptabletools/adaptable-react-aggrid/themes/dark.css';

:root {
    --ab__font-family: Helvetica;
}

body {
    font-family: var(--ab__font-family);
}

svg {
    display: inline;
}

/**
 *    Styles for multigriddemo
 */

.multi-container {
    width: 100%;
    height: 100%;
    min-width: 600px;
    min-height: 400px;
}

.multi-column {
    height: 25%;
    display: flex;
    /*  added  */
    justify-content: center;
    /*  hor. center  */
    align-items: center;
    /*  ver. center  */
    flex-basis: 100%;
}

@media screen and (min-width: 1200px) {
    .multi-container {
        display: flex;
        flex-wrap: wrap;
    }

    .multi-column {
        flex-basis: 25%;
        height: 50%;
        padding: 5px;
    }
}

.multi-column {
    box-sizing: border-box;
}



